.float-right{
    right: 10px;
    position: absolute;
}
.logout-btn a{
    border: 2px solid grey !important;
    color: grey !important;
}
.logout-btn a:hover{
    border: 2px solid azure !important;
    color: azure !important;
    transition: 1s;
}

/* set all container */

.jumbotron{
    background-color: transparent !important;
    color: white;
}

.backG{
    background-image: url("../images/background-landing-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.backGNoImage{
    background: rgb(173,46,136);
    background: linear-gradient(172deg, rgba(173,46,136,1) 14%, rgba(11,15,118,1) 96%, rgba(0,0,0,1) 100%);
}

.inline-box{
    display: flex;
}

.nav-item{
    list-style-type: none;
}